.container{
  display:flex;
  flex-diraction: column;
  height: 100vh;
}
.header{
  flex: 15%;
  background-color: lightblue;
}
.menu{
    flex: 5%;
  background-color: darkblue;
}
.content{
    flex: 70%;
    background-color: white;
}
.footer{
    flex: 10%;
  background-color: lightblue;
}
h1 {
  color:red;
  top-margin: 25pt;
}
.tuade{
  color:tomato;
  font-family: Arial;
  top-margin:20pt;
  font-size:20pt;
  font-weight: bold;
}
.noidung {
  color:black; 
  top-margin: 6pt;
  font-size: 15pt;
  font-style: normal;
}
